.alignCenter {
  text-align: center;
}
.home {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border: 2px;
  border-color: rgb(207, 203, 203);
  border-style: groove;
  height: 600px;
  margin: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
  align-content: center;
}

.home::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.home::-webkit-scrollbar-track {
  background: rgb(207, 203, 203);
}

/* Handle */
.home::-webkit-scrollbar-thumb {
  background: rgb(160, 160, 160);
  border-radius: 10px;
 
}

/* Handle on hover */

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.card {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  grid-gap: 10px;
  margin: 40px 10px;
  height: 100px;
  justify-content: center;
}
.navv {
  position: absolute;
  top: 0;
  left: 4%;
}

