.about {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px;
    border-style: groove;
    height: 650px;
    margin: 20px;
    width: 80;
    opacity: 0.9;
}

.cv
{
    border-radius: 20px;
    border: 2px;
    border-style: groove;
    height: 646px;
    width: 100%;
}

