ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  width: 150px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #d9d74c;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(54, 49, 49);
}
